<ion-content class="ion-padding">
  <ion-grid>
    <!-- Título -->
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <h1 class="text-center" style="font-size: 32px; margin-top: 20%; font-weight: bold;">
          Recupera tu contraseña en
        </h1>
        <h2 class="text-center" style="font-size: 44px; font-weight: bold; margin-bottom: 10%;">
          TeLLevo<span style="color: #2bd4f5;">APP</span>
        </h2>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <!-- Formulario -->
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="10">
        <div
          style="padding: 2rem; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
          <form [formGroup]="formPasswordRestore" (ngSubmit)="onSubmitRestore()">

            <!-- Campo de correo -->
            <div class="text-start" style="margin-bottom: 1rem;">
              <label for="email" class="form-label" style="font-weight: bold;">Correo electrónico</label>
              <input
                type="email"
                id="email"
                class="form-control"
                placeholder="Ingresa tu correo electrónico"
                formControlName="email"
                aria-label="Correo electrónico"
                style="padding: 0.5rem; border: 1px solid #ddd; border-radius: 5px;"
                required
              />
              <span
                *ngIf="formPasswordRestore.get('email').invalid && formPasswordRestore.get('email').touched"
                style="color: red; font-size: 14px;">
                Por favor, ingrese un correo válido.
              </span>
            </div>

            <!-- Botón de Recuperar Contraseña -->
            <ion-button
              expand="block"
              shape="round"
              color="secondary"
              type="submit"
              [disabled]="formPasswordRestore.invalid"
              style="width: 100%; font-size: 16px; margin-top: 1.5rem;">
              Recuperar Contraseña
            </ion-button>
          </form>
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
